 * {
	margin: 0;
	padding: 0;
}

.container-grid{
	width: 1200px;
	border-right:solid 2px white ;
	border-left:solid 2px white ;
	box-sizing: content-box;
}

.container-top {
	display: flex;
	height: 60px;
	justify-content: space-between;
	border-bottom: white 2px solid;

}
.container-logo img{
	position: relative;
	width: 300px;
	bottom: 35px;
	left: 20px;
}
.menu{
	display: flex;
	justify-content: space-between;
	width: 500px;
	margin-right: 30px;
	align-items: center;
	list-style: none;
}
.menu a {
	text-decoration: none;
	color: white ;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;


}

header	{
	display: flex;
	justify-content: center;
	height: 420px;
	background-image: url(../img/android.jpg);
	background-position: center;
}
.container-conteudo {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 335px;
	padding: 20px;
	color: white;
	box-sizing: border-box;
}
main {
	display: flex;
	justify-content: center;
}
.container-conteudo p {
	width: 800px;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 300px;
	height: 200px;
	border: black 2px solid;
	margin: 5px;
}
.container-cards {
	display: flex;
}
